<ng-container *ngIf="progress >= 0">

    <div>
    <progress max="100" [value]="progress" role="progressbar" [attr.aria-valuenow]="progress"
        [attr.aria-valuetext]="progressBarValueText" [attr.aria-describedby]="ariaDescribedBy">
    </progress>
    <span class="core-progress-text-blue" *ngIf="ConvertStringToNumber(text) > 90 ">
        {{ 'core.percentagenumber' | translate: {$a: text} }}
    </span>

    <span class="core-progress-text" *ngIf="ConvertStringToNumber(text) < 90 ">
        {{ 'core.percentagenumber' | translate: {$a: text} }}
    </span>

</div>
</ng-container>
