:host {
    display: block;
    width: 100%;

    --line-height: 40px;
    --bar-margin: 16px 0;

    .core-progress-text {
        font-size: 0.8rem;
        color: white;
        display: block;
        right: 4px;
        text-align: end;
        bottom: 31px;
        position: relative;
    }

    .core-progress-text-blue{
        font-size: 0.8rem;
        color: black;
        display: block;
        right: 4px;
        text-align: end;
        bottom: 31px;
        position: relative;
    }


    progress {
        -webkit-appearance: none;
        appearance: none;
        height: 14px;
        margin: var(--bar-margin);
        padding: 0;
        display: block;
        width: 100%;
        flex: 1;

        &[value]::-webkit-progress-bar {
            background-color: var(--background);
            border-radius: 0;
            border: 0;
            box-shadow: none;
        }

        &[value]::-webkit-progress-value {
            background-color: var(--color);
            border-radius: 0;
        }
    }
}