<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-title><img id="headerLogo" src="assets/img/header_logo.png" style="margin:10px 0 10px 0" width="30%" height="30%"></ion-title>
        </ion-title>
        <ion-buttons slot="end">
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<core-loading [hideUntil]="loaded">
    <core-empty-box *ngIf="tabs.length == 0" icon="fas-home" [message]="'core.courses.nocourses' | translate"></core-empty-box>
</core-loading>
<core-tabs-outlet *ngIf="tabs.length > 0" [selectedIndex]="selectedTab" [hideUntil]="loaded" [tabs]="tabs"
    (ionChange)="tabSelected()">
</core-tabs-outlet>
