   img {
     max-width: 100%;
   }

   img.login-logo {
     width: 90%;
     max-width: 300px;
   }

   .box {
     margin-top: 10%;
     text-align: center;
     color: black;
   }


   .core-sitename,
   .core-siteurl {
     display: none;
   }


   .item-input {
     margin: 20px 10px 20px 10px;
   }

   .item-md.item-block .item-inner {
     padding-right: 0px !important;
   }


   .button-inner {
     background-color: #D1A449;
     border-bottom: 3px solid #93704F;
     border-radius: 5px;
     color: #997B40;
     height: 30px !important;
     width: 30px !important;
     margin-right: 0px !important;
     padding: 0.2em 0.2em 0.2em 0.2em !important;
     line-height: .8 !important;
   }


   .item-inner {
     border-bottom-color: #A4D5EC !important;
     box-shadow: none !important;
   }

   .ion-app.md.ion-page.hydrated {
     background-image: url('/assets/img/login_bg.png') !important;
     background-repeat: no-repeat !important;
     width: 100%;
     height: 100%;
     background-size: cover !important;
   }


   .loginbtn {
     width: 88px;
     font-weight: bold;
     color: rgb(0, 0, 0) !important;
     background-color: rgb(209, 164, 73) !important;
     border-bottom: 4px solid rgb(147, 112, 79);
     margin: 0px auto;
     min-height: 3.6rem;
     box-shadow: none !important;
     text-transform: capitalize !important;
     border-radius: 2px;
     height: 3.6rem;
     font-size: 1.4rem;

   }

   .CusForgotPassword {
     cursor: pointer;
     color: #ffffff !important;
     font-style: italic;
     margin: 15px auto;
     font-size: 1.2em;
     display: block;
     text-align: center;
     right: 41%;
     padding-top: 10px;
   }

   .iLearnlogo {
     display: block;
     text-align: center;
     margin-top: 10%;
   }